<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card style="box-shadow: none !important;">
    <form [formGroup]="rstform" (ngSubmit)="resetForm(email)">
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input
          placeholder="Enter your email address"
          type="email"
          #email
          formControlName="email"
        ></ion-input>
      </ion-item>
      <span
      class="error"
      *ngIf="isSubmitted && errorControl['email'].errors?.['required']"
    >
      Email address is required
    </span>
    <span
    class="error"
    *ngIf="isSubmitted && errorControl['email'].errors?.['pattern']"
  >
    Email address is not valid
  </span>
      <ion-button expand="block" type="Submit">Submit</ion-button>
    </form>
    </ion-card>
  </div>
</ion-content>
