<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center">View Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title style="margin-top: 10px;">Faculty Bookings</ion-title>
  <ion-list class="ios list-ios hydrated">

    <ion-item *ngFor="let book of bookings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{book.facultyName}}
        </h5>
        <p>
          <ion-icon name="call"></ion-icon> {{book.phoneNumbers}}
        </p>
        <p style="color: orange;">
          <ion-icon name="mail"></ion-icon> {{book.status}}
        </p>
        <p>
          <ion-icon name="calendar"></ion-icon> {{book.date}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear>
          <ion-icon name="create" style="zoom:2.0" [routerLink]="['/admin-update-bookings', book.id]"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

</ion-content>
