<ion-content>
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="faculty-dashboard" layout="icon-top">
        <ion-icon name="list-sharp"></ion-icon>
        <ion-label>Bookings</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="add-booking" layout="icon-top">
        <ion-icon name="bag-add-sharp"></ion-icon>
        <ion-label>Add Booking</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="faculty-profile" layout="icon-top">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>
