<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
    <form [formGroup]="rstform" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-label position="floating">Message</ion-label>
        <ion-input
          placeholder="Enter faculty message"
          formControlName="message"
        ></ion-input>
      </ion-item>
      <span
      class="error"
      *ngIf="isSubmitted && errorControl['message'].errors?.['required']"
    >
      Faculty message is required
    </span>
    <ion-item>
      <ion-label position="floating">Today Date</ion-label>
      <ion-input
        placeholder="Enter date today"
        formControlName="date"
      ></ion-input>
    </ion-item>
    <span
    class="error"
    *ngIf="isSubmitted && errorControl['date'].errors?.['required']"
  >
    Date is required
  </span>
      <ion-button expand="block" type="Submit">Submit</ion-button>
    </form>
  </ion-card>
  </div>
</ion-content>

