<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon name="notifications-sharp" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <form [formGroup]="notiform" (ngSubmit)="submitForm()">
        <ion-item>
          <ion-label position="floating">Message</ion-label>
          <ion-input
            placeholder="Enter faculty message"
            formControlName="message"
            type="text"
          ></ion-input>
        </ion-item>
        <span
          class="error"
          *ngIf="isSubmitted && errorControl['message'].errors?.['required']"
        >
          Faculty message is required
        </span>
        <ion-item>
          <ion-label position="floating">Date Today</ion-label>
          <ion-input formControlName="DateTime"  [ngModel]="dateTime | date : 'dd/MM/yyyy HH:mm' "[readonly]="true"></ion-input>
        </ion-item>
        <ion-button
          expand="block"
          type="Submit"
          style="margin-top: 25px; margin-bottom: 10px"
          >Submit</ion-button
        >
      </form>
    </ion-card>
  </div>
</ion-content>
