<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Faculty Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-title style="margin-top: 10px">Faculty Bookings</ion-title>
  <ion-card
    *ngFor="let book of bookings"
    class="user-list"
    style="background-color: #6c8be0; margin-left: 25px; margin-right: 25px;"
    [routerLink]="['/admin-update-bookings', book.id]"
  >
    <ion-card-header>
      <ion-card-title style="color: white"
        ><ion-icon name="home-sharp"></ion-icon>
        {{book.facultyName}}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle style="color: white">
        <ion-icon name="call-sharp"></ion-icon>
        {{book.phoneNumbers}}</ion-card-subtitle
      >
      <ion-row>
        <ion-card-subtitle style="color: orange">
          <ion-icon name="mail"></ion-icon> {{book.status}}</ion-card-subtitle
        >
        <!-- <ion-icon
          name="create"
          style="margin-left: 170px; color: white; font-size: 30px"
          [routerLink]="['/admin-update-bookings', book.id]"
        ></ion-icon> -->
      </ion-row>
      <ion-card-subtitle style="color: white"
        ><ion-icon name="calendar"></ion-icon> {{book.date}}</ion-card-subtitle
      >
    </ion-card-content>
  </ion-card>
</ion-content>
