<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Update Bookings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <form>
      <ion-item>
        <ion-label position="floating">Faculty Name</ion-label>
        <ion-input placeholder="Enter Faculty name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input type="date" placeholder="Enter date of service"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Purpose</ion-label>
        <ion-input placeholder="Enter Purpose of booking"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input placeholder="Enter faculty email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Numbers</ion-label>
        <ion-input placeholder="Enter faculty phone numbers"></ion-input>
      </ion-item>
      <ion-button expand="block">Update</ion-button>
    </form>
  </div>
</ion-content>

