<ion-header>
  <ion-toolbar>
    <ion-title>Faculty Dasboard</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/faculty-profile">
        <ion-icon name="person-sharp" style="color: white"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="margin-top: 5%;">
    <ion-item routerLink="/add-booking" class="item">
        <ion-icon slot="start" name="add-circle-sharp" style="color: #6c8be0;"></ion-icon>
        <ion-title style="font-size: 17px;">Add Bookings</ion-title>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
    </ion-item>
    <ion-item routerLink="/dashboard">
      <ion-icon slot="start" name="list-sharp" style="color: #6c8be0;"></ion-icon>
      <ion-title style="font-size: 17px;">Bookings</ion-title>
      <ion-icon name="chevron-forward-sharp"></ion-icon>
  </ion-item>
    <ion-item routerLink="/faculty-notifications">
        <ion-icon slot="start" name="mail-sharp" style="color: #6c8be0;"></ion-icon>
        <ion-title style="font-size: 17px;">Messages</ion-title>
        <ion-icon slot="end" name="chevron-forward-sharp"></ion-icon>
    </ion-item>
    <ion-item routerLink="/faculty-profile" style="height: 48px;">
        <ion-icon slot="start" name="person-sharp" style="color: #6c8be0;"></ion-icon>
        <ion-title style="font-size: 17px;">Logout</ion-title>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
    </ion-item>
</ion-list>
<!-- <ion-card style="height: 98%;">

<ion-grid>
  <ion-row class="ion-text-center">
      <ion-col routerLink="/add-booking">
        <ion-card style="height: 120px; text-align: center; border-radius: 8px;">
          <ion-icon style="margin-top: 20px; color: #6c8be0;" name="add-circle-sharp"  size="large"></ion-icon>
          <p>Add Bookings</p>
        </ion-card>
      </ion-col>
      <ion-col routerLink="/dashboard">
        <ion-card style="height: 120px; text-align: center; border-radius: 8px;">
          <ion-icon style="margin-top: 20px; color: #6c8be0;" name="list" size="large"></ion-icon>
          <p>Bookings</p>
        </ion-card>
      </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col routerLink="/faculty-notifications">
      <ion-card style="height: 100px; text-align: center; border-radius: 8px;">
        <ion-icon style="margin-top: 20px; color: #6c8be0;" name="notifications" size="large"></ion-icon>
        <p>Notifications</p>
      </ion-card>
    </ion-col>
    <ion-col routerLink="/faculty-profile">
      <ion-card style="height: 100px; text-align: center; border-radius: 8px;">
        <ion-icon style="margin-top: 20px;color: #6c8be0;" name="person" size="large"></ion-icon>
        <p>Profile</p>
      </ion-card>
    </ion-col>
</ion-row>
</ion-grid>
</ion-card> -->
</ion-content>
