<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Admin Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/admin-profile">
        <ion-icon name="person-sharp" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-row>
  <ion-title>Faculties</ion-title>
  <!-- <ion-button routerLink="/add-faculty">
    Add
  </ion-button> -->
  <ion-icon name="add-circle-sharp" style="color: #6c8be0; font-size: 40px; margin-right: 6px;" routerLink="/add-faculty"></ion-icon>
</ion-row>
<ion-card style="height: 60px; background-color: #6c8be0;" routerLink="/view-bookings">
 <ion-card-title style="margin-left: 10px; margin-top: 5px; color: white;">Faculty of Accounting</ion-card-title>
</ion-card>
</ion-content>
