<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> HomePage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form>
      <ion-item fill="solid">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input placeholder="Enter your email address"></ion-input>
      </ion-item>
      <ion-item fill="solid">
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="Enter your password "></ion-input>
      </ion-item>

      <ion-button expand="block">Submit</ion-button>
      <div
        style="width: 50%; border-top: 1px solid #d4d4d4; margin: 8px 0"
      ></div>
      OR
      <div
        style="width: 50%; border-top: 1px solid #d4d4d4; margin: 8px 0"
      ></div>
      <ion-button expand="block">Register</ion-button>
    </form>
  </div>
</ion-content>
