<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> HomePage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form>
      <ion-item fill="solid" class="items">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input placeholder="Enter your email address"></ion-input>
      </ion-item>
      <ion-item fill="solid" style="margin-top: 10px;">
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="Enter your password "></ion-input>
      </ion-item>

      <ion-button expand="block">Submit</ion-button>
      <ion-button expand="block" routerLink="/register">Register</ion-button>
    </form>
  </div>
</ion-content>
