<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title style="margin-top: 20px">Notifications</ion-title>
  <ion-list class="ios list-ios hydrated">
    <ion-item *ngFor="let noti of notifications" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="alert-circle-sharp"></ion-icon> {{noti.message}}
        </h5>
        <p>
          <ion-icon name="calendar-number-sharp"></ion-icon> {{noti.DateTime}}
        </p>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear (click)="deleteNotification(noti.id)">
          <ion-icon name="trash" style="zoom: 2; color: red"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
