<ion-header>
  <ion-toolbar>
    <ion-title>Create An Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <form>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input placeholder="Enter your first name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input placeholder="Enter your last name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input placeholder="Enter your phone numbers"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input placeholder="Enter your email address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input placeholder="Enter your password"></ion-input>
      </ion-item>
      <ion-button expand="block">Submit</ion-button>
    </form>
  </div>
</ion-content>
